.container {
  
}

.goScrollTop {
  cursor: pointer;
  position: fixed;
  background: #E0E0E0;
  padding: 18px 16px 21px 16px;
  width: 56px;
  height: 56px;
  right: 0;
  bottom: 50px;
}
