@import '../../styles/global/variables';

.wrapper {
	background-color: $main-white;
	border-radius: 24px;
	padding: 30px;
	max-width: 65%;
	min-width: 480px;
	margin: auto;
}

.heading {
	text-align: center;
	margin: 0;
	margin-bottom: 24px;
}

.inputWrapper {
	display: grid;
	grid-template-columns: 1fr;
	gap: 12px;
	margin-bottom: 24px;
}
.btns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 12px;
	margin-top: 24px;
}

@media ($vp-768) {
	.wrapper {
		max-width: 100%;
		min-width: 100px;
	}
}
