@import 'src/styles/global/variables';

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	margin-bottom: 20px;

	svg {
		stroke: white;
		fill: white;
		width: 36px;
		height: auto;
	}
}

.user,
.backlink {
	display: flex;
	border: none;
	background: $primary;
	border-radius: 12px;
	padding: 5px;
}
